@charset "UTF-8";
/*------------------- Обнуление стилей---------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:regular,600,800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
  scroll-behavior: smooth;
}

.header {
  margin: 0 auto;
}
.header__container {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(48px);
  padding: 14px 0;
  position: fixed;
  width: 100%;
}
.header__content {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}
.header__nav {
  display: flex;
  gap: 10px;
}
.header__logo {
  transform: translateX(50%);
}
.header__info {
  display: flex;
  gap: 99px;
  align-self: center;
}
.header__info a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: #ffffff;
}

.nav__choice {
  display: flex;
  gap: 50px;
  align-self: center;
}
.nav__choice a {
  align-self: center;
  color: #fff;
  display: inline-block;
  position: relative;
}
.nav__apartaments {
  position: relative;
}
.nav__apartaments::after {
  content: "";
  display: block;
  position: absolute;
  width: 120%;
  transform: scaleX(0);
  height: 5px;
  top: -30px;
  left: -10px;
  background-color: orange;
}

.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.info__phone {
  display: flex;
  gap: 15px;
  position: relative;
}
.info__phone::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icons/phone.svg") 0 0/contain no-repeat;
  top: -3px;
  left: -40px;
  width: 24px;
  height: 24px;
}
.info__vacant {
  position: relative;
}
.info__vacant::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #d88208;
  top: -13px;
  left: -21px;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid #000;
}
.info__vacant a {
  position: relative;
  z-index: 4;
}

.section {
  background: url("../img/bg/bg.jpg") 50% center/cover no-repeat;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}
.section__wrapper {
  max-width: 1630px;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}
.section__content {
  justify-content: space-between;
  gap: 20px;
  display: flex;
}
.menu {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  align-self: center;
  margin-right: 58px;
}
.menu:hover {
  box-shadow: inset 1px 1px 10px #000;
  transition: all 0.4s ease-in 0s;
}
.menu__block {
  position: relative;
  top: 12px;
  right: 0;
  display: block;
  width: 24px;
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
}
.menu__block span {
  position: absolute;
  background-color: #fff;
  width: 80%;
  top: 6.5px;
  left: 9px;
  border-radius: 5px;
  height: 2px;
}
.menu__block span::before, .menu__block span::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
}
.menu__block span::before {
  top: 5px;
}
.menu__block span::after {
  bottom: 5px;
}

.main__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 2200px;
}
.main__content {
  max-width: 1682px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hover-slider {
  padding: 85px 0 0 0;
}
.hover-slider__table {
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 365px;
  overflow: hidden;
}
.hover-slider__item {
  border: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 182px;
  height: 120px;
  overflow: hidden;
}
.hover-slider__item img {
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.4s ease-out 0s;
}
.hover-slider__item img:hover {
  opacity: 1;
}

.visibily img {
  opacity: 1 !important;
}

.section__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.05em;
  color: #0a0a0a;
  margin-bottom: 20px;
  text-align: center;
}
.section__title {
  font-family: "Mak";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

.content__block-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__items {
  display: flex;
  flex-direction: column;
  max-width: 786px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  padding: 0px 40px 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.content__item {
  background: linear-gradient(180deg, #d26b20 0%, rgba(210, 107, 32, 0) 100%);
  height: 72px;
  padding: 40px 41px 7px;
}
.content__circle-block {
  margin: 0 auto;
  display: flex;
  width: 108px;
  height: 108px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: relative;
  margin-bottom: 84px;
}
.content__circle-border {
  background: url("../img/icons/arrow.svg") center/contain no-repeat;
  width: 50px;
  height: 35px;
  position: absolute;
  top: 35%;
  left: 27px;
  transition: all 0.3s ease-in 0s;
  cursor: pointer;
}
.content__circle-border:hover {
  transform: translateY(50%);
}
.calendar {
  filter: drop-shadow(0px 14px 30px rgba(14, 9, 3, 0.2));
  background: #d8a608;
  border-radius: 20px;
  padding: 30px;
}
.calendar__items {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.calendar__check {
  display: flex;
  font-size: 18px;
  line-height: 1.38;
  color: #0a0a0a;
  position: relative;
}
.calendar__check:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  right: -25px;
  width: 2px;
  height: 100%;
  opacity: 0.4;
  background: #ffffff;
}
.calendar__check-in h3 {
  font-weight: 700;
}
.calendar__choice-date {
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  padding: 10px 40px 10px 10px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
.calendar__choice-date::after {
  content: "";
  background: url("../img/icons/calendar.svg") center/contain no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  right: 11px;
}
.calendar__choice-guest {
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  padding: 10px 34px 10px 10px;
  margin-right: 15px;
}
.calendar__check-out h3 {
  font-weight: 700;
}
.calendar__search a {
  display: block;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(279.05deg, #181818 -13.86%, #2b2102 100.89%);
  box-shadow: 0px 14px 30px rgba(14, 9, 3, 0.2);
  border-radius: 10px;
  transition: all 0.2s ease-in 0s;
  border: 1px solid #0a0a0a;
}
.calendar__search a:hover {
  background: #d8a608;
  color: #0a0a0a;
}

body {
  line-height: 1;
  font-family: "Nunito Sans";
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ------------------------------ */
.main {
  flex-grow: 1;
}

/*# sourceMappingURL=style.css.map */
