.header {
  margin: 0 auto;
  // .header__container
  &__container {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(48px);

    padding: 14px 0;
    position: fixed;
    width: 100%;
  }

  // .header__content
  &__content {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
  }

  // .header__nav
  &__nav {
    display: flex;
    gap: 10px;
  }

  // .nav__menu-burger
  &__menu-burger {
  }

  // .header__logo
  &__logo {
    transform: translateX(50%);
  }

  // .header__info
  &__info {
    display: flex;
    gap: 99px;
    align-self: center;
  }

  // .header__info
  &__info a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: #ffffff;
  }
}

.nav {
  // .nav__choice
  &__choice {
    display: flex;
    gap: 50px;
    align-self: center;
  }

  &__choice a {
    align-self: center;
    color: #fff;
    display: inline-block;
    position: relative;
  }

  // .nav__apartaments
  &__apartaments {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 120%;
      transform: scaleX(0);
      height: 5px;
      top: -30px;
      left: -10px;
      background-color: orange;
    }
  }
}

//стиль для ссылок коттеджи/апартаменты
.active {
  &::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
//--------

.info {
  // .info__phone
  &__phone {
    display: flex;
    gap: 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      background: url("../img/icons/phone.svg") 0 0 / contain no-repeat;
      top: -3px;
      left: -40px;
      width: 24px;
      height: 24px;
    }
  }

  // .info__vacant
  &__vacant {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 48px;
      height: 48px;
      background: #d88208;
      top: -13px;
      left: -21px;
      border-radius: 50%;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      width: 62px;
      height: 62px;
      top: -20px;
      left: -28px;
      border-radius: 50%;
      z-index: 1;
      border: 1px solid #d88208;
    }
  }
  &__vacant a {
    position: relative;
    z-index: 4;
  }
}
