.hover-slider {
  padding: 85px 0 0 0;

  // .hover-slider__table
  &__table {
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 365px;
    overflow: hidden;
  }

  // .hover-slider__item
  &__item {
    border: 1px solid rgba(255, 255, 255, 0.4);
    max-width: 182px;
    height: 120px;
    overflow: hidden;
  }

  &__item img {
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.4s ease-out 0s;
    &:hover {
      opacity: 1;
    }
  }
}

.visibily img {
  opacity: 1 !important;
}
