.menu-items {
  //background: rgba(255, 255, 255, 0.2);
  //border: 1px solid #f2f2f2;

  // .menu-items__contacts
  &__contacts {
    display: flex;
    padding: 20px 44px;
    gap: 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #f2f2f2;
  }

  // .menu-items__wths

  &__wths a,
  &__tlg a {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 120%;
      height: 5px;
      top: -23px;
      left: -10px;
      background-color: orange;
      transform: scaleX(0);
      transition: all 0.3s ease-in 0s;
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }

  // .menu-items__tlg
  &__tlg {
  }

  // .menu-items__location

  &__location {
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6.5px);
    position: relative;
    &::after {
      content: "";
      background: url("../img/icons/path.svg") center / contain no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  // .menu-items__info
  &__info {
    background: #d88208;
    padding: 9px 140px 10px 45px;
  }

  // .menu-items__text
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  // .menu-items__map

  &__map {
  }
}
