.menu-items {
  // .menu-items__wrapper
  padding: 88px 0 0 0;
  max-width: 376px;
  &__wrapper {
    background: rgba(79, 79, 79, 0.4);
    backdrop-filter: blur(4px);
  }

  // .menu-items__list

  &__list {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 78px 28px 214px 28px;
  }

  // .menu-items__link
  &__link {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 3px;
      left: -35px;

      border-radius: 50%;
      background-color: #fff;
      padding: 2px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: transform 0.5s ease, border 0.5s ease;
    }
    &:hover::before {
      border: 1px solid #fff;
    }
  }
  &__link a {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    color: #f2f2f2;
  }
}
