.section {
  background: url("../img/bg/bg.jpeg") center / cover no-repeat;
  padding: 100px 100px;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  // .section__wrapper

  &__wrapper {
    max-width: 1230px;
    margin: 0px auto;
    //padding: 0px 15px;
    //padding: 200px;
    width: 100%;
    height: 100%;
  }

  // .section__container

  &__container {
  }

  &__content {
    padding: 50px 40px;
  }

  &__title {
  }
}
