.section {
  background: url("../img/bg/bg.jpg") 50% center / cover no-repeat;
  height: 100vh;
  margin: 0 auto;
  width: 100%;

  // .section__wrapper
  &__wrapper {
    max-width: 1920px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
  }

  // .section__container

  &__container {
  }

  &__content {
    justify-content: space-between;
    gap: 20px;
    display: flex;
  }

  &__title {
  }
}
