@import "null.scss";
@import "header-nav.scss";
@import "section-bg.scss";
@import "menu-burger.scss";
@import "main.scss";
@import "hover-slider.scss";
@import "block-main.scss";

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:regular,600,800&display=swap");

body {
  line-height: 1;
  font-family: "Nunito Sans";
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* ------------------------------ */
.main {
  flex-grow: 1;
}

//[class*="__container"] {
//  max-width: 1230px;
//  margin: 0px auto;
//  padding: 0px 15px;
//}
